.header {
  position: relative;
  padding-bottom: 120px;
  background-image: url(../img/header_background.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top;
  overflow: hidden;
}
.header::after {
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  background: rgba(37, 43, 73, 0.8);
}

.header-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0 -15px;
  position: relative;
  margin-bottom: 120px;
  padding: 36px 0 32px;
}
.header-wrap::after {
  content: "";
  display: block;
  border-bottom: 1px solid #ffffff;
  width: 1170px;
  position: absolute;
  top: 100%;
  left: 15px;
}
.header-wrap .header-wrap__logo {
  margin: 0 15px;
}
.header-wrap .header-wrap__logo .header-wrap__logo-item {
  color: #656980;
  font-weight: 900;
  font-size: 2.5rem;
  text-transform: uppercase;
}
.header-wrap .header-wrap__logo .header-wrap__logo-item::after {
  content: "box";
  color: #ffffff;
  font-weight: 100;
}
.header-wrap .header-wrap__navigation {
  margin: 0 15px;
}
.header-wrap .header-wrap__navigation .header-wrap__navigation-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-line-pack: center;
      align-content: center;
}
.header-wrap .header-wrap__navigation .header-wrap__navigation-list .header-wrap__item {
  font-weight: 700;
  font-size: 13px;
  text-transform: uppercase;
}
.header-wrap .header-wrap__navigation .header-wrap__navigation-list .header-wrap__item .header-wrap__navigation-link {
  text-decoration: none;
  outline: none;
  color: #ffffff;
}
.header-wrap .header-wrap__navigation .header-wrap__navigation-list .header-wrap__item .header-wrap__navigation-link .header-wrap__link-name {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 134px;
  height: 28px;
  position: relative;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
.header-wrap .header-wrap__navigation .header-wrap__navigation-list .header-wrap__item .header-wrap__navigation-link .header-wrap__link-name::after {
  content: "";
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
.header-wrap .header-wrap__navigation .header-wrap__navigation-list .header-wrap__item .header-wrap__navigation-link .header-wrap__link-name:hover:after {
  content: "";
  display: block;
  width: 100%;
  height: 3px;
  background-color: #babbc5;
  position: absolute;
  top: 67px;
  left: 0;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
.header-wrap .header-wrap__navigation .header-wrap__navigation-list .header-wrap__item .header-wrap__navigation-link .header-wrap__link-name:active {
  color: #ff3434;
  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease;
}
.header-wrap .header-wrap__navigation .header-wrap__navigation-list .header-wrap__item .header-wrap__navigation-link .header-wrap__link-name:active::after {
  content: "";
  display: block;
  width: 100%;
  height: 3px;
  background-color: #ff3434;
  position: absolute;
  top: 67;
  left: 0;
}

.header-greetings {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
}
.header-greetings .header__title {
  font-weight: 900;
  font-size: 64px;
  color: #ffffff;
  text-transform: uppercase;
  margin-bottom: 32px;
}
.header-greetings .header__subtitle {
  font-weight: 400;
  font-size: 24px;
  color: #ffffff;
  margin-bottom: 82px;
}
.header-greetings .header__button .header__btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 370px;
  height: 80px;
  background-color: #ff3434;
  border: 0;
  font-weight: 900;
  font-size: 24px;
  text-transform: uppercase;
  color: #ffffff;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}
.header-greetings .header__button .header__btn:hover {
  background-color: #e71414;
}
.header-greetings .header__button .header__btn:active {
  -webkit-box-shadow: 0px 0px 30px 4px #ff0000;
          box-shadow: 0px 0px 30px 4px #ff0000;
}