.header {
  position: relative;
  padding-bottom: 120px;
  background-image: url(../img/header_background.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top;
  overflow: hidden;
}
.header::after {
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  background: rgba(37, 43, 73, 0.8);
}

.header-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0 -15px;
  position: relative;
  margin-bottom: 120px;
  padding: 36px 0 32px;
}
.header-wrap::after {
  content: "";
  display: block;
  border-bottom: 1px solid #ffffff;
  width: 1170px;
  position: absolute;
  top: 100%;
  left: 15px;
}
.header-wrap .header-wrap__logo {
  margin: 0 15px;
}
.header-wrap .header-wrap__logo .header-wrap__logo-item {
  color: #656980;
  font-weight: 900;
  font-size: 40px;
  text-transform: uppercase;
}
.header-wrap .header-wrap__logo .header-wrap__logo-item::after {
  content: "box";
  color: #ffffff;
  font-weight: 100;
}
.header-wrap .header-wrap__navigation {
  margin: 0 15px;
}
.header-wrap .header-wrap__navigation .header-wrap__navigation-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-line-pack: center;
      align-content: center;
}
.header-wrap .header-wrap__navigation .header-wrap__navigation-list .header-wrap__item {
  font-weight: 700;
  font-size: 13px;
  text-transform: uppercase;
}
.header-wrap .header-wrap__navigation .header-wrap__navigation-list .header-wrap__item .header-wrap__navigation-link {
  text-decoration: none;
  outline: none;
  color: #ffffff;
}
.header-wrap .header-wrap__navigation .header-wrap__navigation-list .header-wrap__item .header-wrap__navigation-link .header-wrap__link-name {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 134px;
  height: 28px;
  position: relative;
  -webkit-transition: 0.2s;
  transition: 0.2s;
}
.header-wrap .header-wrap__navigation .header-wrap__navigation-list .header-wrap__item .header-wrap__navigation-link .header-wrap__link-name::after {
  content: "";
  -webkit-transition: 0.3s;
  transition: 0.3s;
}
.header-wrap .header-wrap__navigation .header-wrap__navigation-list .header-wrap__item .header-wrap__navigation-link .header-wrap__link-name:hover:after {
  content: "";
  display: block;
  width: 100%;
  height: 3px;
  background-color: #babbc5;
  position: absolute;
  top: 67px;
  left: 0;
}
.header-wrap .header-wrap__navigation .header-wrap__navigation-list .header-wrap__item .header-wrap__navigation-link .header-wrap__link-name:active {
  color: #ff3434;
  -webkit-transition: 0.2s;
  transition: 0.2s;
}
.header-wrap .header-wrap__navigation .header-wrap__navigation-list .header-wrap__item .header-wrap__navigation-link .header-wrap__link-name:active::after {
  content: "";
  display: block;
  width: 100%;
  height: 3px;
  background-color: #ff3434;
  position: absolute;
  top: 67;
  left: 0;
}

.header-greetings {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
}
.header-greetings .header__title {
  font-weight: 900;
  font-size: 64px;
  color: #ffffff;
  text-transform: uppercase;
  margin-bottom: 32px;
}
.header-greetings .header__subtitle {
  font-weight: 400;
  font-size: 24px;
  color: #ffffff;
  margin-bottom: 82px;
}
.header-greetings .header__button .header__btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 369px;
  height: 77.58px;
  background-color: #ff3434;
  border: 0;
  font-weight: 900;
  font-size: 24px;
  text-transform: uppercase;
  color: #ffffff;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}
.header-greetings .header__button .header__btn:hover {
  background-color: #e71414;
}
.header-greetings .header__button .header__btn:active {
  -webkit-box-shadow: 0px 0px 30px 4px #ff0000;
          box-shadow: 0px 0px 30px 4px #ff0000;
}

.features {
  padding: 130px 0;
}
.features .container .features-wrap {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 0px 1fr 0px 1fr;
  grid-template-columns: 1fr 1fr 1fr;
  -ms-grid-rows: 1fr 100px 1fr;
  grid-template-rows: 1fr 1fr;
  gap: 100px 0px;
      grid-template-areas: ". . ." ". . .";
  margin: 0 -15px;
}
.features .container .features-wrap .features-wrap__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 370px;
  margin: 0 15px;
  border-radius: 5px;
  -webkit-transition: all 0.2s linear;
  transition: all 0.2s linear;
  padding: 5px;
  cursor: pointer;
}
.features .container .features-wrap .features-wrap__item:hover {
  -webkit-transform: scale(1.05);
          transform: scale(1.05);
  -webkit-box-shadow: 0px 0px 5px 0px #656980;
          box-shadow: 0px 0px 5px 0px #656980;
}
.features .container .features-wrap .features-wrap__item .feature-wrap__icon {
  font-size: 70px;
  color: #ff3434;
  margin-bottom: 65px;
}
.features .container .features-wrap .features-wrap__item .feature-wrap__title {
  font-weight: 900;
  font-size: 24px;
  text-transform: uppercase;
  margin-bottom: 65px;
}
.features .container .features-wrap .features-wrap__item .features-wrap__desc {
  text-align: center;
  font-weight: 400;
  font-size: 18px;
  color: #656980;
}

.works {
  width: 100%;
}
.works .container_works {
  width: 100vw;
}
.works .container_works .works-wrap {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 3px 1fr 3px 1fr 3px 1fr;
  grid-template-columns: repeat(4, 1fr);
  -ms-grid-rows: 1fr 3px 1fr;
  grid-template-rows: repeat(2, 1fr);
  gap: 3px;
}
.works .container_works .works-wrap > *:nth-child(1) {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
}
.works .container_works .works-wrap > *:nth-child(2) {
  -ms-grid-row: 1;
  -ms-grid-column: 3;
}
.works .container_works .works-wrap > *:nth-child(3) {
  -ms-grid-row: 1;
  -ms-grid-column: 5;
}
.works .container_works .works-wrap > *:nth-child(4) {
  -ms-grid-row: 1;
  -ms-grid-column: 7;
}
.works .container_works .works-wrap > *:nth-child(5) {
  -ms-grid-row: 3;
  -ms-grid-column: 1;
}
.works .container_works .works-wrap > *:nth-child(6) {
  -ms-grid-row: 3;
  -ms-grid-column: 3;
}
.works .container_works .works-wrap > *:nth-child(7) {
  -ms-grid-row: 3;
  -ms-grid-column: 5;
}
.works .container_works .works-wrap > *:nth-child(8) {
  -ms-grid-row: 3;
  -ms-grid-column: 7;
}
.works .container_works .works-wrap .hover {
  width: calc(works / 4);
  height: 340px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: rgba(255, 255, 255, 0);
  position: relative;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
.works .container_works .works-wrap .hover:hover {
  color: #ffffff;
}
.works .container_works .works-wrap .hover::after {
  content: "";
  background: rgba(255, 67, 67, 0.8);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 0;
  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease;
}
.works .container_works .works-wrap .hover:hover::after {
  height: 100%;
}
.works .container_works .works-wrap .hover .works-wrap__title {
  text-transform: uppercase;
  font-weight: 900;
  font-size: 24px;
  z-index: 1;
  margin-bottom: 20px;
}
.works .container_works .works-wrap .hover .works-wrap__desc {
  text-transform: capitalize;
  font-weight: 400;
  font-size: 18px;
  z-index: 1;
}
.works .container_works .works-wrap .works-wrap__item_1 {
  background-image: url(../img/1.jpg);
  background-size: cover;
  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease;
}
.works .container_works .works-wrap .works-wrap__item_2 {
  background-image: url(../img/2.jpg);
  background-size: cover;
  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease;
}
.works .container_works .works-wrap .works-wrap__item_3 {
  background-image: url(../img/3.jpg);
  background-size: cover;
  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease;
}
.works .container_works .works-wrap .works-wrap__item_4 {
  background-image: url(../img/4.jpg);
  background-size: cover;
  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease;
}
.works .container_works .works-wrap .works-wrap__item_5 {
  background-image: url(../img/5.jpg);
  background-size: cover;
  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease;
}
.works .container_works .works-wrap .works-wrap__item_6 {
  background-image: url(../img/6.jpg);
  background-size: cover;
  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease;
}
.works .container_works .works-wrap .works-wrap__item_7 {
  background-image: url(../img/7.jpg);
  background-size: cover;
  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease;
}
.works .container_works .works-wrap .works-wrap__item_8 {
  background-image: url(../img/8.jpg);
  background-size: cover;
  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease;
}

.team {
  padding: 100px 0;
}

.team-wrap {
  margin: 0 -15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.team-wrap .team-wrap_item {
  margin: 0 15px;
}
.team-wrap .team-wrap_item .team-wrap__img {
  margin-bottom: 30px;
}
.team-wrap .team-wrap_item .team-wrap__img .team-wrap__avatar {
  width: 270px;
  height: 270px;
}
.team-wrap .team-wrap_item .team-wrap__name {
  font-weight: 700;
  font-size: 24px;
  text-transform: capitalize;
  margin-bottom: 6px;
}
.team-wrap .team-wrap_item .team-wrap__prof {
  font-weight: 400;
  font-size: 18px;
  text-transform: uppercase;
  color: #ff3434;
}
.team-wrap .team-wrap_item .team-wrap__story {
  font-weight: 400;
  font-size: 18px;
  color: #656980;
  margin-top: 18px;
  margin-bottom: 38px;
}
.team-wrap .team-wrap_item .team-wrap__social-links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}
.team-wrap .team-wrap_item .team-wrap__social-links .team-wrap__social-elem {
  margin-right: 5px;
}
.team-wrap .team-wrap_item .team-wrap__social-links .team-wrap__social-elem:last-child {
  margin-right: 0px;
}
.footer {
  padding: 24px 0;
  background-color: #2c3154;
}

.footer-content {
  margin: auto;
  text-align: center;
  width: 370px;
}
.footer-content .footer-text {
  font-weight: 400;
  font-size: 18px;
  color: #808080;
}
.footer-content .footer-text .footer-text_white {
  color: #ffffff;
}

.download {
  padding: 100px 0;
}
.download .download-wrap {
  margin: 0 -15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.download .download-wrap .download__title {
  font-weight: 500;
  font-size: 30px;
  margin-bottom: 15px;
}
.download .download-wrap .download__subtitle {
  font-weight: 700;
  font-size: 18px;
  text-transform: uppercase;
  margin-bottom: 50px;
}
.download .download-wrap .download__button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 369px;
  height: 77.58px;
  background-color: #ff3434;
  border: 0;
  font-weight: 900;
  font-size: 24px;
  text-transform: uppercase;
  color: #ffffff;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}
.download .download-wrap .download__button:hover {
  background-color: #e71414;
}
.download .download-wrap .download__button:active {
  -webkit-box-shadow: 0px 0px 30px 4px #ff0000;
          box-shadow: 0px 0px 30px 4px #ff0000;
}

.container_testimonials {
  width: 100vw;
}

.slider__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 31px;
}

.slider__image {
  width: 50%;
  background-image: url(../img/22a194351ef371c9fc2a9a9cbb38ac3c.jpg);
  background-size: cover;
  background-repeat: no-repeat;
}

.slider__desc {
  width: 50%;
  background-color: #5c3249;
  padding: 116px 129px;
}
.slider__desc .slider__text {
  font-family: "Cardo", sans-serif;
  color: #ffffff;
  font-weight: 400;
  font-size: 36px;
  font-style: italic;
  text-transform: capitalize;
  margin-bottom: 20px;
}
.slider__desc .slider__author {
  font-weight: 700;
  font-size: 13px;
  text-transform: uppercase;
  color: #ffffff;
}

.slider__dots {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.slider__dot {
  display: block;
  width: 14px;
  height: 14px;
  border: 1px solid #7e5d6f;
  border-radius: 50%;
  margin-left: 12.5px;
}

.slider__dot_active {
  display: block;
  width: 14px;
  height: 14px;
  background-color: #7e5d6f;
  border-radius: 50%;
  margin-left: 12.5px;
}

.prefooter {
  padding: 70px 170px;
  background-color: #353c65;
}

.prefooter-wrap {
  margin: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}
.prefooter-wrap .location {
  width: 33%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: center;
}
.prefooter-wrap .location .location__title {
  font-weight: 700;
  font-size: 18px;
  text-transform: uppercase;
  color: #ffffff;
  margin-bottom: 29px;
}
.prefooter-wrap .location .location__desc {
  font-weight: 400;
  font-size: 18px;
  color: #ffffff;
}
.prefooter-wrap .share-links {
  width: 33%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.prefooter-wrap .share-links .share-links__title {
  font-weight: 700;
  font-size: 18px;
  text-transform: uppercase;
  color: #ffffff;
  margin-bottom: 48px;
}
.prefooter-wrap .share-links .share-links__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}
.prefooter-wrap .share-links .share-links__list .share-links__item {
  margin-left: 27px;
}
.prefooter-wrap .share-links .share-links__list .share-links__item:first-child {
  margin-left: 0;
}
.prefooter-wrap .share-links .share-links__list .share-links__item .share-links__link .share-links__img {
  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease;
}
.prefooter-wrap .share-links .share-links__list .share-links__item .share-links__link .share-links__img:hover {
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
  color: aqua;
  -webkit-box-shadow: 0px 0px 30px 4px #1cb8df;
          box-shadow: 0px 0px 30px 4px #1cb8df;
}
.prefooter-wrap .about {
  width: 33%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.prefooter-wrap .about .about__title {
  font-weight: 700;
  font-size: 18px;
  color: #ffffff;
  text-transform: uppercase;
  margin-bottom: 29px;
}
.prefooter-wrap .about .about__desc {
  font-weight: 400;
  font-size: 18px;
  color: #ffffff;
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Raleway";
  list-style-type: none;
  text-decoration: none;
}

.container {
  max-width: 1170px;
  margin: 0 auto;
  z-index: 5;
  position: relative;
}