.container_testimonials {
  width: 100vw;
}
.slider__item {
  display: flex;
  margin-bottom: 31px;
}
.slider__image {
  width: 50%;
  background-image: url(../img/22a194351ef371c9fc2a9a9cbb38ac3c.jpg);
  background-size: cover;
  background-repeat: no-repeat;
}

.slider__desc {
  width: 50%;
  background-color: rgba(92, 50, 73, 1);
  padding: 116px 129px;
  .slider__text {
    font-family: 'Cardo', sans-serif;
    color: #ffffff;
    font-weight: 400;
    font-size: 36px;
    font-style: italic;
    text-transform: capitalize;
    margin-bottom: 20px;
  }
  .slider__author {
    font-weight: 700;
    font-size: 13px;
    text-transform: uppercase;
    color: #ffffff;
  }
}
.slider__dots {
  display: flex;
  align-items: center;
  justify-content: center;
}
.slider__dot {
  display: block;
  width: 14px;
  height: 14px;
  border: 1px solid #7e5d6f;
  border-radius: 50%;
  margin-left: 12.5px;
}
.slider__dot_active {
  display: block;
  width: 14px;
  height: 14px;
  background-color: #7e5d6f;
  border-radius: 50%;
  margin-left: 12.5px;
}
