.works {
}
.works-wrap {
  display: flex;
  flex-wrap: wrap;
}
.works-wrap__link {
  width: 25%;
  height: 340px;
  position: relative;

  &::after {
    content: '';
    display: block;
    background-color: rgba(255, 67, 67, 0.8);
    width: 100%;
    height: 0;
    position: absolute;
    left: 0;
    top: 0;
    transition: all 0.3s ease;
  }
  &:hover::after {
    height: 100%;
  }
  &:active::after {
    content: '';
    background-color: rgba(192, 49, 49, 0.8);
  }
}
.works-wrap__image {
  position: relative;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.works-wrap__text {
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  opacity: 0;
  z-index: 1;
  width: 100%;
  height: 100%;
  transition: all 0.2s ease;
  &:hover {
    opacity: 1;
  }
}
.works-wrap__title {
  font-weight: 900;
  font-size: 24px;
  color: #ffffff;
  text-transform: uppercase;
  margin-bottom: 20px;
}
.works-wrap__desc {
  font-weight: 400;
  font-size: 18px;
  text-transform: capitalize;
  color: #ffffff;
}
